* {
  box-sizing: border-box;
  font-family: Ubuntu;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 0%;
  color: white;
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#page-describtion {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(184, 0, 0);
  font-style: italic;
}

#nav-bar {
  list-style: none;
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: rgb(184, 0, 0);
  color: white;
  width: 100vw;
  justify-content: space-around;
}

.nav-bar-el {
  padding: 10px;
  font-weight: 600;
}

#podrocja {
  display: flex;
  justify-content: center;
}

.main {
  margin: 20px;
  width: 200px;
}

h2 {
  font-size: 30px;
}
